<!DOCTYPE html>
<html>
  {{- partial "head" (dict "context" . "pageTitle" "Cloud Monitoring as a Service | Datadog") -}}
  <body>
    <main>
      <div class="page-wrapper">
        <div class="d-flex">
          {{ partial "side-nav" . }}
          <div class="content w-100">
              {{ partial "mobile-nav" . }}
              {{- block "main" . }}
              {{ partial "hero" . }}
              {{ partial "cards" . }}
              {{- partial "footer" . -}}
            </div>
          </div>
          {{- end }}
        </div>
      </main>
      {{- partial "script-footer" . -}}
  </body>
</html>
