// CSS-Resets, I personally love Josh Comeau's reset due to out of the box accessibility being addressed (https: //www.joshwcomeau.com/css/custom-css-reset/)

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

// I skip # 3 which is a 100% height on the body and html, I'm not a fan of the sideeffects it has

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

// Variables

$dd-purple: #724eef;
$apm: #14d071;
$logs: #ff635a;
$infra: #2b2aa7;
$black: #000000;
$white: #ffffff;
$airbb: #ff5a5f;
$evernote: #292929;
$samsung: #1428a0;
$nginx: #00aa4e;
$pager: #5dbd5f;
$att: #00a8e0;
$footer: linear-gradient(#443e48, #110617);
$gray-bg: #f5f5f5;
$separator: #c7c7c7;

// Custom sizes
.medium-text {
  font-size: 1.75rem;
}

.smaller-text {
  font-size: 0.75rem;
}

.semibold-font {
  font-weight: 500;
}

.h-fit {
  height: fit-content;
}
