<div class="container pt-4 px-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 pt-4 px-4">
        <div class="cta-card d-flex flex-column justify-content-between h-100">
          <div>
            <h1 class="font-weight-bold">Modern monitoring & analytics</h1>
            <p class="semibold-font">{{ .Description }}</p>
          </div>
          <div class="cta-button-container">
            <button class="rounded-0 py-4 btn text-uppercase cta-btn">
              Try Free
            </button>
          </div>
        </div>
      </div>
      <div class="col price-box-wrapper py-4">
        <div class="row">
          <div class="col">
            <div class="price-box px-1">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <h6 class="text-uppercase price-header infra-color">
                    Infrastructure
                  </h6>
                  <p class="">Starting at</p>
                  <p class="price-value ">$15</p>
                  <p class="per-month small">Per host, per month*</p>
                  <p class="price-subheader">
                    Centralize your monitoring of systems and services
                  </p>
                  <div class="bullets">
                    <ul>
                      <li class="pb-2">- 250+ integrations</li>
                      <li class="pb-2">- Out-of-the-box dashboards</li>
                      <li class="pb-2">- 15-month metric retention</li>
                    </ul>
                  </div>
                </div>
                <div>
                  <a href="#details" class="details-link infra-color"
                    >See Details</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="price-box px-1">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <h6 class="text-uppercase price-header apm-color">APM</h6>
                  <p class="">Starting at</p>
                  <p class="price-value ">$31</p>
                  <p class="per-month small">Per host, per month*</p>
                  <p class="price-subheader">
                    Centralize your monitoring of systems and services
                  </p>
                  <div class="bullets">
                    <ul>
                      <li class="pb-2">
                        - Java, Ruby, Python, Go, Node, and more
                      </li>
                      <li class="pb-2">
                        - Out-of-the-box application health dashboards
                      </li>
                      <li class="pb-2">
                        - 1 million trace events per host included
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <a href="#details" class="details-link apm-color"
                    >See Details</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="price-box px-1 last-box">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <h6 class="text-uppercase price-header logs-color">
                    Logs management
                  </h6>
                  <p class="">Starting at</p>
                  <p class="price-value ">$1.27</p>
                  <p class="per-month small">Per host, per month*</p>
                  <p class="price-subheader">
                    Analyze and explore log data in context
                  </p>
                  <div class="bullets">
                    <ul>
                      <li>- Collect from any source</li>
                      <li>- Automated & custom processing</li>
                      <li>- Fully integrated with infrastructure and APM</li>
                    </ul>
                  </div>
                </div>
                <a href="#details" class="details-link logs-color"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
