<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 pl-0">
      <div class="apm-card mb-4">
        <div
          class="apm-inner-card d-flex flex-column justify-content-center"
        ></div>
        <div class="card-content">
          <h6
            class="text-center text-uppercase text-white smaller-text font-weight-bold"
          >
            APM
          </h6>
          <p class="text-center text-white medium-text">
            Get full visibility into modern applications
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 pl-0">
      <div class="infra-card mb-4">
        <div
          class="infra-inner-card d-flex flex-column justify-content-center"
        ></div>
        <div class="card-content">
          <h6
            class="text-center text-white text-uppercase smaller-text font-weight-bold"
          >
            Infrastructure
          </h6>
          <p class="text-center text-white medium-text">
            Get full visibility into modern applications
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 pl-0 h-fit">
      <div class="logs-card mb-4">
        <div
          class="logs-inner-card d-flex flex-column justify-content-center"
        ></div>
        <div class="card-content">
          <h6
            class="text-center text-white text-uppercase smaller-text font-weight-bold"
          >
            Logs management
          </h6>
          <p class="text-center text-white medium-text">
            Analyze and explore log data in context
          </p>
        </div>
      </div>
    </div>
    <div class="pl-0 col-md-6 overflow-hidden">
      <div class="scroll-card d-flex flex-column justify-content-between">
        <div class="d-flex flex-column">
          <p class="smaller-text text-uppercase px-4 pt-4 dd-purple">
            Observability
          </p>
          <div
            class="text-carat-container d-flex align-items-center justify-content-between mb-0 px-4"
          >
            <p class="medium-text carat-text">
              With turn-key integrations, Datadog seamlessly aggregates metrics
              and events across the full devops stack
            </p>
            <div class="carat pl-4">
              <svg
                width="27"
                height="52"
                viewBox="0 0 27 52"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M1 1L26.1688 26.1688L1 51.3377" stroke="black" />
              </svg>
            </div>
          </div>
          <div class="pb-2 pl-4">
            <a href="#read-more" class="read-more-link dd-purple">Read More</a>
          </div>
        </div>
        <div class="d-flex justify-content-between pl-4 pb-4">
          <div class="w-100">
            <img
              src="img/screenshots/home-observability.jpg"
              alt="dashboard with multiple company logos"
              class="h-100"
            />
          </div>
          <div>
            <img
              src="img/screenshots/home-dashboards.jpg"
              alt="dashboard with analytic numbers displayed"
              class="w-100 h-100"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="pl-0 col-md-6">g</div>
  </div>
</div>
