<div class="container mt-4">
  <div class="row">
    <div
      class="card-container justify-content-lg-between justify-content-md-center"
    >
      <div class="apm-card mb-4">
        <div
          class="apm-inner-card d-flex flex-column justify-content-center"
        ></div>
        <div class="card-content">
          <h6
            class="text-center text-white text-uppercase smaller-text font-weight-bold"
          >
            APM
          </h6>
          <p class="text-center text-white medium-text">
            Get full visibility into modern applications
          </p>
        </div>
      </div>
      <div class="infra-card mb-4">
        <div
          class="infra-inner-card d-flex flex-column justify-content-center"
        ></div>
        <div class="card-content">
          <h6
            class="text-center text-white text-uppercase smaller-text font-weight-bold"
          >
            Infrastructure
          </h6>
          <p class="text-center text-white medium-text">
            Get full visibility into modern applications
          </p>
        </div>
      </div>
      <div class="logs-card mb-4">
        <div
          class="logs-inner-card d-flex flex-column justify-content-center"
        ></div>
        <div class="card-content">
          <h6
            class="text-center text-white text-uppercase smaller-text font-weight-bold"
          >
            Logs management
          </h6>
          <p class="text-center text-white medium-text">
            Analyze and explore log data in context
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
